
*{
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 1em;
}

/*********************************
Header
**********************************/

header{

    background-color: #8E4433;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start;
    margin: -1em -1em 0 -1em ;
    padding: 2em;
}

#menu{
    list-style: none; /* Tar bort punkter */

}


li,a{
    text-decoration: none; /* Tar bort understräck */
    color: white;
}

.logo{
    width: 177px;
    height: 55px;
    margin-right: auto; /* Det flyttar loggan till vänster */
}

.cart {
    width: 43px;
    height: 42px;
}

/*********************************
Body
**********************************/

.container {
    display: grid;
    margin: 1em 1em 1em 1em;
}

.square{
    background: #8E4433;
    width: 456px;
    height: 477px;
    border-radius: 0% 20% 0% 20%;
}

.förstaRubrik{
    color: #CBA84E;
    font-size: 5em;
    margin-left: 0.4em;
}

.andraRubrik{
    color: #8E4433;
    font-size: 5em;
    margin-top: -1em;
    margin-left: 0.4em;
}

.texten{
    font-size: 1.2em;
    margin: 2em;
}

/*********************************
Footer
**********************************/

footer{
    background-color: #8E4433;
    position: relative;
    left: 0;
    right: 0;
    bottom:0;    
    width: 100%;
    margin: 0 -1em 0 0;
    text-align: center;
    color: white;
}


@media only screen and (min-width: 1280px) {
    /* CSS for 1280px and more */
    
   #menu li{
    display: inline;
    
   }

   .vänsterSida {
    grid-column: 1;
    grid-row: 1;
   }

   .högerSida{
    grid-column: 2;
    grid-row: 1;
   }

   footer{
    position:absolute;

}


}